@{
	Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.StylistName)</h4>

@using (Html.BeginForm())
{
	@Html.HiddenFor(model => model.StylistId)
	
	@Html.LabelFor(model => model.StylistName)
	@Html.EditorFor(model => model.StylistName)
	@Html.LabelFor(model => model.Description)
	@Html.EditorFor(model => model.Description)
	@Html.LabelFor(model => model.Style)
	@Html.EditorFor(model => model.Style)

	<input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to the main list", "Index")</p>