@{
	Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this Client: @Html.DisplayFor(model => model.ClientName)</h4>

@using(Html.BeginForm())
{
	@Html.HiddenFor(model => model.ClientId)

	@Html.LabelFor(model => model.ClientName)
	@Html.EditorFor(model => model.ClientName)
	@Html.LabelFor(model => model.ClientNotes)
	@Html.EditorFor(model => model.ClientNotes)

	@Html.LabelFor(model => model.Stylist)
	@Html.DropDownList("StylistId")

	<input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to the list of clients", "Index")</p>
