@{
	Layout = _"Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Clients</h1>

@if (@Model.Count == 0)
{
	<h3>No clients have been added yet!</h3>
}

@foreach(Client client in Model)
{
	<li>@Html.ActionLink($"{client.ClientName}", "Details", new { id = client.ClientId }) | @client.Stylist.StylistName</li>
}

<p>@Html.ActionLink("Add a new client", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>